@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #0fd651;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: #c41c32;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: transparent;
    border: 1px solid #c77314;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #1720a1;
}

.search:focus {
    background-color: #15a4cf;
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #28b9b2;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 1.5rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #bcfc0d81;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: rgb(136, 90, 4);
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: rgb(17, 173, 212);
    padding: 2rem;
    position: absolute;
    overflow: auto;
    max-height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    
    
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}